<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- th:fragment="adminNavbar" 로 이 네비바의 이름을 지정합니다 -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- 시스템 로고 / 메인 홈 링크 -->
        <a class="navbar-brand fw-bold text-success" th:href="@{/}">FlowHub WMS</a>

        <button class="navbar-expand-lg navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <!-- 우측 상단 유저 정보 및 로그아웃 버튼 -->
            <div class="d-flex align-items-center text-light" sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ADMIN')">
                    <span sec:authentication="principal.userRealName">Admin</span> 관리자님
                </span>

                <span sec:authorize="hasRole('USER')">
                    <span sec:authentication="principal.userRealName">User</span> 회원님
                </span>

                <a th:href="@{/user/logout}" class="btn btn-outline-light btn-sm ms-3">로그아웃</a>
            </div>
        </div>
    </div>
</nav>
<!--사용법 - 사용하는 페이지의 검색 form 의 id를 search-form로 해주면 된다.-->
<div th:fragment="pagingBar(page)"
     th:if="${page != null && !page.isEmpty()}" class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination pagination-sm">

            <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
                <button type="button" class="page-link" th:onclick="|movePage(${page.number-1})|">이전</button>
            </li>

            <li class="page-item" th:each="pageIdx : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:classappend="${pageIdx == page.number} ? 'active'">
                <button type="button" class="page-link" th:onclick="|movePage(${pageIdx})|" th:text="${pageIdx + 1}">1</button>
            </li>

            <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled'">
                <button type="button" class="page-link" th:onclick="|movePage(${page.number+1})|">다음</button>
            </li>

        </ul>
    </nav>
    <script>
        function movePage(pageNo){
            const searchForm = document.getElementById('search-form');

            let pageInput = searchForm.querySelector('.page-input');
            if(!pageInput){
                pageInput = document.createElement('input');
                pageInput.classList.add('page-input')
                pageInput.type = 'hidden';
                pageInput.name = 'page';
                searchForm.appendChild(pageInput);
            }

            pageInput.value = pageNo;
            searchForm.submit();
        }

    </script>
</div>
</html>